.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.imgContainer {
  flex: 1;
  height: 500px;
  position: relative;
}

.img {
  object-fit: contain;
}

.imgContainerMobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .imgContainerMobile {
    display: none;
  }
}
