.parentContainer {
  display: flex;
  gap: 40px;
  height: fit-content;
  justify-content: center;
}

.childContainer {
  width: 100%;
  padding-bottom: 24px;
  gap: 16px;
  height: 100%;
}

.chatContainer {
  background: linear-gradient(0deg, #000000, #000000),
    linear-gradient(0deg, #716f71, #716f71);
  color: white;
  height: 100%;
  border-radius: 20px;
}

.chatBoxHeader {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #716f71;
  height: 70px;
  gap: 15px;
  padding: 0px 10px;
}

.chatBoxHeaderImage {
  width: 55px;
  height: 55px;
  border-radius: 50%;
}

.shareBtn {
  margin-left: auto;
  width: 123px;
  border-radius: 8px;
  background: #cfaa23;
  font-size: 18px;
  line-height: 24px;
  color: black;
  padding: 12px 20px;
}

.title {
  color: #26daf0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
}

.subHeading {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.093em;
  color: #c0c0c0;
}

.chatBoxMainBody {
  position: relative;
}

.chatBoxbgImage {
  height: 490px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: blur(2px) brightness(0.5) contrast(1.2) grayscale(0.4);
}

.chats {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 32px 39px 16px 20px;
  color: white;
  overflow: auto;
}

.aiFirstResponseContainer {
  min-height: 54px;
  display: flex;
  gap: 20px;
}

.jesusImg {
  height: 58px;
  border-radius: 50%;
  width: 58px;
}

.userQuestion {
  min-width: 70%;
  display: flex;
  align-items: center;
  gap: 14px;
}

.userQuestionContent {
  overflow: auto;
  font-size: 13px;
  width: 100%;
  max-height: 80px;
  padding: 10px 15px 10px 10px;
  border-radius: 8px;
  background-color: #ffffff40;
  width: 100%;
  line-height: 22px;
}

.questionContainer {
  min-height: 54px;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}

.aiResponseContent {
  overflow: auto;
  font-size: 13px;
  min-width: 80%;
  max-height: 80px;
  padding: 10px 15px;
  border-radius: 8px;
  line-height: 22px;
  display: flex;
  align-content: center;
  background: #26daf040;
}

.chatBoxFooter {
  border-top: 2px solid #535256;
  height: 100%;
  padding: 5px 10px;
  min-height: 60px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.chatBoxInput {
  width: 100%;
  height: 45px;
  border-radius: 5px;
  background-color: #242323;
  outline: none;
  border: 2px solid #716f71;
  padding: 10px;
  color: white;
}
.chatBoxInput:focus {
  border-color: #0a84d6;
}
.chatBoxFooter button {
  height: 45px;
  padding: 0 20px;
  border: 2px solid #3498db;
  background-color: #3498db;
  cursor: pointer;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chatBoxFooter button:hover {
  background-color: #2980b9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.btnDisabled {
  cursor: wait !important;
}

@media (min-width: 1024px) {
  .parentContainer {
    padding: 0px 50px;
  }
  .childContainer {
    width: 60%;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 14px;
  }
  .subHeading {
    font-size: 10px;
  }
  .shareBtn {
    width: fit-content !important;
    padding: 12px 12px;
  }
}
/* For Webkit browsers like Chrome and Safari */
.scrollContainer::-webkit-scrollbar {
  width: 2px;
}

.scrollContainer::-webkit-scrollbar-track {
  background-color: #000000;
}

.scrollContainer::-webkit-scrollbar-thumb {
  background-color: #343333;
  border-radius: 6px;
}

.scrollContainer::-webkit-scrollbar-thumb:hover {
  background-color: #716f71;
}

/* General scrollbar styles for Firefox and other browsers */
.scrollContainer::-moz-scrollbar {
  width: 12px;
}

.scrollContainer::-moz-scrollbar-thumb {
  background-color: #535256;
  border-radius: 6px;
}

.scrollContainer::-moz-scrollbar-thumb:hover {
  background-color: #716f71;
}
